In [2]:
x=input('enter number ')
print(type(x))
print (int(x)*2)

enter number 69
<class 'str'>
138

In [18]:
r = float(input('enter radius of sphere '))
pi = (22/7)
vol = (4/3)*pi*(r**3)
print('The volume of sphere of radius',r,'is equal to',vol)

enter radius of sphere 22
The volume of sphere of radius 22.0 is equal to 44620.190476190466

In [19]:
cp = 24.95
dp = cp-(cp*0.40)
sp = 3+(59*(dp+0.75))+dp
print('Total wholesome cost for 60 books will be =',round(sp))

Total wholesome cost for 60 books will be = 945

In [2]:
tteasy = (2*(8+(15/60)))
tttempo = (3*(7+(12/60)))
arrive = ((6*60)+52+tttempo+tteasy)
hr = int(arrive // 60)
mn = int(arrive % 60)
print('I will reach home for breakfast at ',hr,':',mn,'am')
print('When running in easy pace I covered 2 miles in ',tteasy,'minutes')
print('When running in tempo pace I covered 3 miles in ',tttempo,'minutes')

I will reach home for breakfast at  7 : 30 am
When running in easy pace I covered 2 miles in  16.5 minutes
When running in tempo pace I covered 3 miles in  21.6 minutes

In [3]:
name = input('Please enter your name ')
bs = int(input('Please enter your basic salary '))
da = bs+(bs*0.40)
hra = bs+(bs*0.20)
gi = bs+da+hra
print(name+', your gross income is ',gi)

Please enter your name Soumili Dutta
Please enter your basic salary 5266566
Soumili Dutta, your gross income is  18959637.6

In [5]:
temp = float(input('Enter temperature in degree Farenheit '))
tc = (temp-32)/1.8
print ('Temperature in degree celsius is ',tc)

Enter temperature in degree Farenheit 108
Temperature in degree celsius is  42.22222222222222